<div class="modal fade" id="tagFriendsModal-{{ post.id }}" tabindex="-1" aria-labelledby="tagFriendsModalLabel-{{ post.id }}" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <form action="{% url 'post:post_management' %}" method="post">
             {% csrf_token %}
             <input type="hidden" name="action" value="tag_friends">
             <input type="hidden" name="post_id" value="{{ post.id }}">
             <div class="modal-header">
                <h5 class="modal-title" id="tagFriendsModalLabel-{{ post.id }}">Tag Friends</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <div class="mb-3">
                   <label for="tagged-friends-{{ post.id }}" class="form-label">Select friends to tag:</label>
                   <select class="form-select" id="tagged-friends-{{ post.id }}" name="tagged_friends" multiple>
                      {% for friendship in friends %}
                      <option value="{{ friendship.friend.id }}">{{ friendship.friend.username }}</option>
                      {% endfor %}
                   </select>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Tag Friends</button>
             </div>
          </form>
       </div>
    </div>
 </div>