{% extends 'base.html' %}
{% load static %}
{% load friend_extras %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Search Users</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <form method="get" action="{% url 'friends:user_search' %}">
                    <input type="text" name="query" placeholder="Search users..." class="form-control" aria-label="Search users">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" >
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <div id="search-results" class="mt-4">
        <div class="list-group">
            {% for user in users %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <img src="{% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static 'img/default_profile_pic.jpg' %}{% endif %} 
                        " alt="{{ user.username }}" class="rounded-circle mr-2" style="width: 40px; height: 40px;">
                        <span>{{ user.username }}</span>
                    </div>
                    <div>
                        {% if friend_status|get_item:user.id == 'friend' %}
                            <span class="badge badge mr-2 text-black">Friend</span>
                            <a href="{% url 'friends:remove_friend' user.id %}" class="btn btn-sm btn-outline-danger">Remove Friend</a>
                        {% elif friend_status|get_item:user.id == 'request_sent' %}
                            <span class="badge badge-info">Friend Request Sent</span>
                        {% elif friend_status|get_item:user.id == 'request_received' %}
                            <span class="badge badge-warning mr-2">Friend Request Received</span>
                            <a href="{% url 'friends:accept_friend_request' user.id %}" class="btn btn-sm btn-success mr-1">Accept</a>
                            <a href="{% url 'friends:reject_friend_request' user.id %}" class="btn btn-sm btn-danger">Reject</a>
                        {% else %}
                            <a href="{% url 'friends:send_friend_request' user.username %}" class="btn btn-sm btn-primary">Send Friend Request</a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">No users found.</p>
            {% endfor %}
        </div>
    </div>

    <a href="{% url 'friends:friend_list' %}" class="btn btn-secondary mt-4">
        <i class="fas fa-arrow-left"></i> Back to Friends List
    </a>
</div>

{% endblock %}
